.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.inner {
  max-width: 1150px;
}

.content-top {
  width: 100%;
  margin-top: 50px;
}

// button
.head {
  display: flex;
  justify-content: center;
  align-items: center;
}

// card
.body {
  width: 70%;
  margin: 0 auto;
  margin-top: 50px;
  border: 1px solid pink;
  padding: 20px;
}

.card {
  border: 1px solid pink;
  background: var(--white);
  border-radius: 8px;
  overflow: hidden;

  height: 300px;
  color: #fff;
  cursor: pointer;
}

.card-top h1 {
  font-size: 1.5rem;
  margin: 20px;
  color: var(--primary);
}

.card-top > img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  background: black;
}

.card-bottom {
  display: flex;
  justify-content: center;
  align-items: center;
}

// detail
.detail-pri {
  &:hover {
    color: #fff;
  }
}

.detail-out {
  &:hover {
    color: var(--primary);
    border-color: currentColor;
    background-color: rgb(247, 243, 244);
  }
}
