.wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    height: 60px;
    background-color: #212121;
}

.inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1150px;
    height: 100%;
}

// logo
.image-logo {
    width: 100px;
    height: 100px;
}

// Nav
.nav {
    height: 100%;
    line-height: 60px;
}

.nav-item {
    padding: 10px 20px;

    &:hover {
        color: var(--primary);
    }
}